@media screen and (min-width: 1000px) {

    .nav-list {
        display: block;
        position: relative;
    }

    .home {
        position: absolute;
        top: 5%;
        left: 50%;
        z-index: 4;
    }

    .about {
        position: absolute;
        top: 25%;
        left: 25%;
        z-index: 3;
    }

    .gallely {
        position: absolute;
        top: 45%;
        left: 10%;
        z-index: 2;
    }

    .more {
        position: absolute;
        top: 65%;
        left: 40%;
        z-index: 1;
    }

    .gnav a {
        padding: 0;
        width: 180px;
        height: 180px;
        line-height: 180px;
    }

    .home-wrapper .container {
        width: 70%;
    }

    .title-name {
        text-align: left;
        padding-top: 10%;
        font-size: 3rem;
    }

    .dogfoot1 {
        top: 12%;
        right: 15%;
        width: 5%;
    }

    .dogfoot2 {
        top: 6%;
        right: 10%;
        width: 5%;
    }

    .top-imgbox {
        padding: 5% 0;
    }

    .about-wrapper .container,
    .gallely-wrapper .container,
    .more-wrapper .container,
    .last-wrapper .container {
        width: 70%;
    }

    .section-mark {
        width: 10%;
    }

    .about-title,
    .gallely-title,
    .more-title {
        font-size: 3rem;
    }

    .about-description,
    .gallely-description,
    .more-description {
        font-size: 2rem;
    }

    .profile {
        padding-bottom: 5%;
    }

    .profile-property {
        width: 40%;
        font-size: 2rem;
        padding: 1%;
        margin-bottom: 5%;
    }

    .profile-value {
        width: 60%;
        font-size: 2rem;
        padding: 1%;
    }

    .movie-gallely {
        width: 70%;
    }

    .owner-title,
    .faq-title {
        font-size: 2rem;
        padding: 2%;
        margin-bottom: 5%;
    }

    .owner-content {
        font-size: 1.7rem;
        padding: 2%;
    }

    .question {
        font-size: 1.8rem;
    }

    .answer {
        font-size: 1.8rem;
    }

    .answer .open {
        font-size: 1.8rem;
    }

    .last-message {
        font-size: 2rem;
    }

}